// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  text-align: center;

  h1 {
    color: white;
  }

  p {
    margin-top: 20%;
    margin-bottom: 20%;

    a {
      padding: 10px;
      border-radius: 5px;
      border: 2px solid white;
      margin: 50px;
      color: white;
    }

  }


}
